.App {
  text-align: center;
}

.module {
  width:100%;
  max-width: 900px;
  margin: 0 auto 100px;
  /* border: 1px solid #aaaaaa; */
  
}

.portfolio > div > div {
  display: inline-block;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  max-width: 200px;
  height: 100%;
  max-height: 400px;
  padding:10px;
  margin:10px
}

.portfolio > div > div:hover {
  cursor: pointer;
}

.portfolio > div > div > img {
  width: 100%;
  margin: 0 auto;
}

.contact span {
  font-size: 20px;
}

.editpencil {
  cursor: pointer;
  width:20px;
  height: 20px;
  margin-left: 20px;
}

.editmodal {
  display: inline-block;
}

.edit {
  font-size: 18px;
  width: 500px;
}

.editrow {
  margin: 10px;
}

.edit label {
  margin-right: 18px;
}

.edit input {
  width: 75%;

  vertical-align: middle;
}
