h1, h3 {
  display: inline-block;
  font-weight: lighter;
}

.App {
  text-align: center;
}

.module {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 50px 0 50px;
  border-bottom: 1px solid #aaaaaa;

}

.cards > .card {
  display: inline-block;
  border: 1px solid #aaaaaa;
  border-radius: 3px;
  max-width: 200px;
  height: 100%;
  max-height: 400px;
  padding: 10px;
  margin: 10px;
}

.card:hover {
  cursor: pointer;
}

.card > img {
  width: 100%;
  margin: 0 auto;
}

.contact span {
  font-size: 20px;
}

.editmodalicon {
  display: inline-block;
  vertical-align:text-bottom;
}

.editmodalicon > img {
  cursor: pointer;
  width: 25px;
  height: 25px;
  margin-left: 40px;
  margin-bottom: 2px;
}

.edit {
  font-size: 18px;
  width: 500px;
}

.edit h1 {
  color: red;
}

.editrow {
  margin: 10px;
}

.editrow label {
  margin-right: 18px;
}

.editrow input {
  width: 75%;
  vertical-align: middle;
}

.textcenter {
  text-align: center;
}
